.jumbotron {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media (max-width: 760px) {
    .navbar-toggle {
        background-color: #2c363f;
    }
    .icon-bar {
        background-color: #FFF;
    }
}